.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  opacity: 90%;
  position: relative;
  text-align: center;
  margin-top: auto;
  background-color: gray;
  float: left;
  clear: both;
  display: block;
  margin-top: 1em;
}
